<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <% const base = '../../partials'; %>
        <%- include(`${base}/head`, { title: 'Redefinir Senha' }) %>
        <meta name="csrf-token" content="<%= csrfToken %>">
    </head>

    <body>
        <%- include(`${base}/header`) %>

        <main class="container">
            <div id="app"></div>

            <script>
                window.csrfToken = "<%= csrfToken %>";
            </script>
            <script src="/js/auth/public/redefinir_senha.js"></script>
        </main>

        <%- include(`${base}/footer`) %>
    </body>

</html>