<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <% const base = '../../../partials'; %>
        <%- include(`${base}/head`, { title: 'Editar Grupo' }) %>
    </head>

    <body>
        <%- include(`${base}/header`) %>
        
        <main class="container">
            <div id="app"></div>

            <script>
                window.csrfToken = "<%= csrfToken %>";
                window.groupData = <%- JSON.stringify(group) %>;
            </script>
            <script src="/js/auth/grupos/grupos_editar.js"></script>
        </main>

        <%- include(`${base}/footer`) %>
    </body>

</html>